body {
    margin: 0;
    padding: 0;
    background-image: url("img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    scale: 90%;
}



p,
a {
    color: white;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(38, 56, 69, 0.23);
    width: 20cm;

}

.navbar>div {
    margin-right: 4cm;
}

div>img {
    width: 70px;
    height: 70px;
}

nav>a {
    margin: 10px;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main>#direction>p {
    font-size: 20pt;
}

.direction,
.events {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.microelectronics,
.software-AI,
.banking,
.nanotechnology {
    display: flex;
}



.microelectronics>.right>a,
.software-AI>.right>a,
.banking>.right>a,
.nanotechnology>.right>a {
    font-size: small;
    font-weight: bold;
    text-decoration: none;
    float: right;
}

.olympics>.up>img {
    height: 6.5cm;
    width: 6.5cm;
}

.olympics>.down>a,
.meetups>.down>a,
.competitions>.down>a {

    text-decoration: none;
    float: inline-end;
}

.elements>.olympics>div,
.elements>.meetups>div,
.elements>.competitions>div {
    margin-right: 1.5cm;
}

form>div>input,
form>div>select,
form>div>input::placeholder {
    color: rgba(148, 176, 199, 1);
    border-radius: 5pt;
    height: 0.95cm;
    background-color: rgba(38, 56, 69, 1);
    /* -webkit-border-radius: 5pt;
    -moz-border-radius: 5pt;
    -ms-border-radius: 5pt;
    -o-border-radius: 5pt;
 */
}

form>.down-midle>input,
form>.down>input {
    background-color: rgba(26, 73, 91, 1);
}

.tickets {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.down-midle {
    display: flex;
    justify-content: space-between;
}

form>div {
    margin: 5px;
}

.up>#action {
    margin-left: 0.2cm;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer>.elements>div {
    margin: 0.7cm;
}

.elements {
    display: flex;
}

.information,
.navigation,
.society {
    width: 290px;
}

.information>.up>p,
.information>.down>p {
    font-size: 13pt;
}
